@charset "utf-8";
/* CSS Document */

html
	{
		font:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size:22px;
		margin:25px;
	}
header
	{
		border: 5px solid #00FF01;
		font-size: 2.7em;
		padding:10px;
		 
	}
	

.textmiddle 
	{
		vertical-align:middle;
		text-align:center;
	}
#himg
	{
		padding:15px;
		margin-right:150px;
	}
htxt
	{
		text-align:center;
	}	
	
menu
	{
		border:thin solid blue;
		border-radius:25px;
		height:3em;
		background-color:blue;
		margin-bottom:5px;
		margin-top:15px;
		margin-left:20%;
		margin-right:20%;
		
	}

ul
	{
		list-style-type:none;
		max-width:840px;
		min-width:320px;
		margin:auto;
		padding-left:15%;
		border-raduis: 25px;

	}

li
	{
		float: left;
		 border-raduis: 25px;
		
	}

a.menu:link,a.menu:visited
	{
		display:block;
		width:150px;
		font-weight:bold;
		color:white;
		font-size:30px;
		background-color:blue;
		text-align:center;
		padding:5px;
		text-decoration:none;
		border-raduis: 25px;
		
	}
a.menu:hover,a.menu:active
	{
		background-color: White;
		color: blue;
		border-raduis: 25px;
	}
#lside
	{
		margin:30;
		float:left;
		width:25;	
		background-color:tan;
		border:5px blue solid;
		padding :15px;
		
	}	
	 
article
	{
		margin-left:400px;
		margin-right:15px;
		margin-top:30px;
		margin-bottom:30px;
		padding:30px;
		width:70%;
		
		 
	}
	
.figcaption
	{
		text-align:center;
	}		
#figcaption
	{
		text-align:center;
	}	

	
